table {
    margin-bottom: 10px;
    margin-top: 10px;
    border-collapse:separate;
    border:solid rgb(191, 193, 195) 1px;
    border-radius:6px;
    border-spacing: 0;
    background-color: white;
}

td, th {
    border-left: solid 1px black;
    border-top:solid black 1px;
    padding-left: 5px;
    padding: 5px;
}

th {
    border-top: none;
    border-bottom: solid 1px black;
    font-size: 17px;
    background-color: paleturquoise;
}

td:first-child, th:first-child {
     border-left: none;
}

table, th ,td {
    margin-left: 6px;
    margin-right: 8px;
}

.link {
    color: #104abc;
}

hr {
    border: solid 1px rgb(32 61 111);
}

a {
    color: rgb(219, 232, 254);
}

.nav-link:hover {
    color: white;
}

.header {
    padding-top: 10px;
}

.button {
    text-decoration: none !important;
    border: 1px black;
    padding: 5px;
    border-radius: 6px;
    background-color: rgb(228, 230, 234);
    background-image: none;
    color: rgb(51, 69, 99);
    margin: 7px;
    border-radius: 5px;
}

.button:hover {
    background-image: none;
    color: rgb(51, 69, 99);
    background-color: rgb(217, 219, 222);
}

.custom_row:hover {
    background-color: rgb(217, 220, 225);
}

h2 {
    padding-left: 7px;
}

.form-group {
    margin-left: 7px;
    margin-right: 7px;
}

.sortable th {
    cursor: pointer;
}

.sortable th.no-sort {
    pointer-events: none;
}

.sortable th::after, 
.sortable th::before {
  transition: color 0.2s ease-in-out;
  font-size: 1.2em;
  color: transparent;
}

.sortable th::after {
    margin-left: 3px;
    content: '\025B8';
}

.sortable th:hover::after {
    color: inherit;
}

.sortable th.dir-d::after {
    color: inherit;
    content: '\025BE';
}
 
.sortable th.dir-u::after {
    color: inherit;
    content: '\025B4';
}

.searchbar {
    width: 10%; /* Full-width */
    margin-right: 1.5%;
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px; /* Add some padding */
    border: 1px solid rgb(191, 193, 195); /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    float: right;
    border-radius: 8px;
}

.searchbar1 {
    width: 10%; /* Full-width */
    margin-right: 7px;
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px; /* Add some padding */
    border: 1px solid rgb(191, 193, 195); /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    float: right;
    border-radius: 8px;
}

.page {
    margin-left: 5px; 
    margin-right: 5px; 
    border: solid transparent 1px; 
    padding: 5px; 
    border-radius: 3px; 
    background-color: rgb(228, 230, 234); 
    padding-left: 10px; 
    padding-right: 10px; 
    color: black;
}

.page:hover {
    background-color: rgb(217, 219, 222);
    background-image: none;
    text-decoration: none !important;
    color: black;
}

.current {
    margin-left: 5px; 
    margin-right: 5px; 
    border: solid black 1px; 
    padding: 15%; 
    border-radius: 3px; 
    background-color: rgb(228, 230, 234); 
    padding-left: 12px; 
    padding-right: 12px;
}

.hidden {
    display: none;
}

.alert {
    margin-top: 10px;
    margin-left: 7px;
    margin-right: 7px;
}

.tables {
    width: 97%;
    margin-left: 1.5%;
}

.zurück {
    padding: 7px;
    padding-left: 22.5px;
    padding-right: 22.5px;
}

.löschen {
    padding: 7px;
    padding-right: 17.5px;
    padding-left: 17.5px;
    color: red;
}

.create {
    background-color: white;
    border:transparent 1px; 
    border-radius: 6px; 
    padding: 10px; 
    width: 40%; 
    margin-left: 30%; 
    margin-right: 30%; 
    margin-top: 1%;
    box-shadow: 2px 2px 2px 2px rgb(191, 193, 195);
}

hr {
    margin-bottom: 25px; 
    border: 1px solid rgb(228, 230, 234);
}