Webserver/WWSystem/webapplication/__pycache__/**
Webserver/WWSystem/webapplication/migrations/__pycache__/**
Webserver/WWSystem/WWSystem/__pycache__/**
Webserver/WWSystem/webapplication/__pycache__/**
Webserver/WWSystem/media/Download/bestellliste_qEPM3Jw.csv
Webserver/WWSystem/media/Download/bestellliste.csv
Webserver/WWSystem/media/Download/detail_investmittelplan_planung_VIjXbaA.csv
Webserver/WWSystem/media/Download/detail_investmitteplan_9lE90lp.csv
Webserver/WWSystem/media/Download/investmittelplan_DPLsxxJ.csv
Webserver/WWSystem/media/Download/investmittelplan_planung_17mXqUE.csv
Webserver/WWSystem/media/Download/lagerliste_eiNbs3m.csv
