{% extends "webapplication/layout.html" %}

{% block body %}
    <h1 class="header" style="text-align: center;">BestellListe</h1>
    <input class="button" value="BestellListen Eintrag erstellen" type="button" onclick="window.location.href='{% url 'create_bestell' %}'"></input>
    <input class="searchbar" type="text" id="myInput" onkeyup="myFunction()" placeholder="Suchen...">
    <input class="button" value="Heute" type="button" id="today" onclick="today()">
    <input class="button" value="Alle" type="button" id="today" onclick="undo()">
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <table aria-live="polite" id="myTable" class="sortable" style="width: 99.5%;" cellspacing="0">
        <thead>
            <tr>
                <th>SAP Bestell-Nr.</th>
                <th>Modell</th>
                <th>Typ</th>
                <th>Spezifikation</th>
                <th>Zuweisung</th>
                <th>Ersteller</th>
                <th>Bearbeitet</th>
                <th>Invest</th>
                <th>Preis pro Stück</th>
                <th>Menge</th>
                <th>Anzahl Geliefert</th>
            </tr>
        </thead>
        <tbody>
        {% for item in bestell_liste %}
            {% if item.geliefert != "1" %}
                <tr class="custom_row">
                    <td>
                        <a class="link" href="{% url 'update_bestell' item.sap_bestell_nr_field %}">
                            {{ item.sap_bestell_nr_field }}
                        </a>
                    </td>
                    <td>{{ item.modell }}</td>
                    <td>{{ item.typ }}</td>
                    <td>{{ item.spezifikation }}</td>
                    <td>{{ item.zuweisung }}</td>
                    <td>{{ item.ersteller }}</td>
                    <td>{{ item.bearbeitet|date:"d. E Y - H:i" }}</td>
                    <td>{{ item.investmittel }}</td>
                    <td>{{ item.preis_pro_stück }}</td>
                    <td>{{ item.menge }}</td>
                    <td>{{ item.geliefert_anzahl }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}