{% extends "webapplication/layout.html" %}

{% block body %}
    <h1 class="header" style="text-align: center;">Bestell_Liste</h1>
    <input class="button" value="Bestell_Listen Eintrag erstellen" type="button" onclick="window.location.href='{% url 'create_bestell' %}'"></input>
    <input class="searchbar" type="text" id="myInput" onkeyup="myFunction()" placeholder="Suchen...">
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <table id="myTable" class="sortable" style="width: 99.5%;">
        <thead>
            <tr>
                <th>SAP_Bestell_Nr.</th>
                <th>Modell</th>
                <th>Typ</th>
                <th>Spezifikation</th>
                <th>Inventarnummer: Von-Bis</th>
                <th>Ersteller</th>
                <th>Menge</th>
                <th>Anzahl Geliefert</th>
            </tr>
        </thead>
        <tbody>
        {% for item in bestell_liste %}
            {% if item.geliefert != "1" %}
                <tr class="custom_row">
                    <td>
                        <a class="link" href="{% url 'detail_lager' item.sap_bestell_nr_field %}">
                            {{ item.sap_bestell_nr_field }}
                        </a>
                    </td>
                    <td>{{ item.modell }}</td>
                    <td>{{ item.typ }}</td>
                    <td>{{ item.spezifikation }}</td>
                    <td>{{ item.inventarnummern_von_bis }}</td>
                    <td>{{ item.ersteller }}</td>
                    <td>{{ item.menge }}</td>
                    <td>{{ item.geliefert_anzahl }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}