{% extends "webapplication/layout.html" %}

{% block body %}
  <h1 class="header" style="text-align: center;">Lagerliste</h1>
  <div class="create">
  
    <h2>Lagerlisten Eintrag</h2>
    <hr>
    <form id="form" action="{% url 'create_lager' %}" method="POST">
      {% csrf_token %}
      <div style="display: none;" class="form-group">
        <button class="btn btn-primary" onclick="addInputField(), count_live()" type="">Weiterer Eintrag</button>
      </div>
      <div id="inputs" class="form-group">
        <div>
          <input autofocus class="form-control" type="text" name="0" required placeholder="Inventarnummer/Servicenummer"/>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" onclick="addInputField(), count_live()" type="">Weiterer Eintrag</button>
        <li style="float: right;" class="page btn" id="count"></li>
      </div>
      <div class="form-group">
        <select class="form-control" required name="bestell_nr">
          <option value="">Bitte Bestell-Nr. auswählen</option>
          {% for nr in bestell_nr %}
            <option value="{{ nr.sap_bestell_nr_field }}">{{ nr }}</option>
          {% endfor %}
        </select>
      </div>
      {% if message %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
      {% endif %}
      {% if dupe %}
        <div class="alert alert-danger" role="alert">Die Inventarnummern <b>{{ dupe }}</b> konnten nicht eingetragen werden. Grund: Die Inventarnummern exisitieren bereits in der Lagerliste</div>
      {% endif %}
      {% if fail %}
        <div class="alert alert-danger" role="alert">Die Inventarnummern <b>{{ fail }}</b> wurden nicht angelegt. Grund: Fehler beim anlegen.</div>
      {% endif %}
      {% if unlock %}
        <script>
          function unlock() {
            alert("Glückwunsch!\nDu hast ein Achievement freigeschaltet!\n+----------------------+\n(        Lager Stufe 1        )\n+----------------------+");
          }

          window.onload = function() {
            unlock();
          };
        </script>
      {% endif %}
      <div style="text-align: right;">
        <input class="btn btn-primary" type="submit", value="Eintragen">
        <input class="button btn zurück" value="Zurück" type="button" onclick="window.location.href='{% url 'lagerliste' %}'"></input>
      </div>
    </form>
  </div>
  <script>
    function count() {
      var inputFormDiv = document.getElementById('inputs');
      return (inputFormDiv.getElementsByTagName('input').length);
    }

    document.getElementById("count").innerHTML = count()
  </script>
{% endblock %}