{% extends "webapplication/layout.html" %}

{% block body %}
    <h1 class="header" style="text-align: center;">BestellListe</h1>
    <input class="button" value="Zurück" type="button" onclick="window.location.href='{% url 'bestell_liste' %}'"></input>

    <h2>BestellListen Eintrag</h2>

    <form action="{% url 'create_bestell' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="sap_bestell_nr" required placeholder="SAP Bestell-Nr.">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="modell" required placeholder="Modell">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="typ" required placeholder="Typ">
        </div>
        <div class="form-group">
            <input class="form-control" type="number" name="menge" required placeholder="Menge">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="preis_pro_stück" required placeholder="Preis pro Stück">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="spezifikation" placeholder="Optional: Spezifikation">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="zuweisung" placeholder="Optional: Zuweisung">
        </div>
        <div class="form-group">
            <select class="form-control" name="investmittel">
              <option value="">Bitte Investmittelzuweisung auswählen</option>
              <option value="Ja">Ja</option>
              <option value="Nein">Nein</option>
            </select>
        </div>
        <input style="margin-left: 7px;" class="btn btn-primary" type="submit" value="Eintragen">
        {% if message %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endif %}
    </form>
{% endblock %}