{% extends "webapplication/layout.html" %}
{% load humanize %}

{% block body %}
    <h1 class="header" style="text-align: center;">Investmittel der Klinik {{ klinik_ou }}</h1>
    <form action="{% url 'detail_investmittel' klinik_ou %}" method="post">
        {% csrf_token %}
        <input style="margin-left: 1.5%;" class="button" value="Zurück" type="button" onclick="window.location.href='{% url 'investmittel' %}'"></input>
        <input class="searchbar" type="text" id="myInput" onkeyup="myFunction()" name="input" placeholder="Suche">
        <input class="btn btn-primary" style="float: right; margin-right: 10px; margin-top: 6.5px;" type="submit" value="Datei erstellen">
        {% if confirm %}
            {% for file in files %}
                {% if file.titel == "OU{{ klinik_ou }}_detail_investmittelplan" %}
                    <input class="btn btn-primary" style="float: right; margin-right: 10px; margin-top: 6.5px;" type="button" value="Download" onclick="window.location.href='{% url 'download' file.id %}'">
                {% endif %}
            {% endfor %}
        {% endif %}
    </form>

    <table id="myTable" class="sortable tables">
        <thead>
            <tr>
                <th>Klinik/OU</th>
                <th>Bestell-Nr.</th>
                <th>Modell</th>
                <th>Typ</th>
                <th>Spezifikation</th>
                <th>Preis pro Stück</th>
                <th>Menge</th>
            </tr>
        </thead>
        <tbody>
        {% for item in detail_invest %}
            <tr class="custom_row">
                <td>{{ item.klinik }}</td>
                <td>{{ item.bestell_nr_field }}</td>
                <td>{{ item.modell }}</td>
                <td>{{ item.typ }}</td>
                <td>{{ item.spezifikation }}</td>
                <td>{{ item.bestell_nr_field__preis_pro_stück|intcomma }}</td>
                <td>{{ item.Menge }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if message %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endif %}
{% endblock %}