{% extends "webapplication/layout.html" %}

{% block body %}
    <h1 class="header" style="text-align: center;">Investmittelplanung der OU {{ ou }}</h1>
    <input class="button" value="Zurück" type="button" onclick="window.location.href='{% url 'investmittel_soll' %}'"></input>
    <input class="button" value="Investmittel planen" type="button" onclick="window.location.href='{% url 'create_investmittel_soll' ou %}'"></input>
    <input class="searchbar" type="text" id="myInput" onkeyup="myFunction()" placeholder="Suchen...">
    <table id="myTable" class="sortable" style="width: 99.5%;">
        <thead>
            <tr>
                <th>Typ</th>
                <th>Modell</th>
                <th>Preis pro Stück</th>
                <th>Spezifikation</th>
                <th>Ersteller</th>
                <th>Menge</th>
            </tr>
        </thead>
        <tbody>
        {% for item in detail_investmittelplan_soll %}
            <tr class="custom_row">
                <td>{{ item.typ }}</td>
                <td>{{ item.modell }}</td>
                <td>{{ item.preis_pro_stück }}</td>
                <td>{{ item.spezifikation }}</td>
                <td>{{ item.admin }}</td>
                <td>{{ item.menge }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}