{% extends "webapplication/layout.html" %}
{% block body %}
    <h1 class="header" style="text-align: center;">Ausgetragene Einträge zur Bestellung {{ bestellung }}</h1>
    <input style="margin-left: 1.5%;" class="button" value="Zurück" type="button" onclick="window.location.href='{% url 'profile_lager_ohne' user.id %}'"></input>
    <input class="searchbar" type="text" id="searchbar" onkeyup="myFunction()" placeholder="Suchen...">
    <table id="myTable" class="sortable tables">
        <thead>
            <tr>
                <th>ID</th>
                <th>Typ</th>
                <th>Modell</th>
                <th>Spezifikation</th>
                <th>Herausgeber</th>
                <th>Ausgabe</th>
                <th>Bestell-Nr.</th>
            </tr>
        </thead>
        <tbody>
        {% for item in lagerliste %}
            {% if user_name == item.herausgeber %}
                <tr class="custom_row">
                    <td>{{ item.id }}</td>
                    <td>{{ item.typ }}</td>
                    <td>{{ item.modell }}</td>
                    <td>{{ item.spezifikation }}</td>
                    <td>{{ item.herausgeber }}</td>
                    <td>{{ item.ausgabe|date:"d. E Y - H:i" }}</td>
                    <td>{{ item.bestell_nr_field }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}