{% extends "webapplication/layout.html" %}
{% block body %}
    <h1 class="header" style="text-align: center;">Ausgetragene Einträge zur Bestellung {{ bestellung }}</h1>
    <input style="margin-left: 1.5%;" class="button" value="Zurück" type="button" onclick="window.location.href='{% url 'profile' user.id %}'"></input>
    <input class="searchbar" type="text" id="myInput" onkeyup="myFunction()" placeholder="Suchen...">
    <table id="myTable" class="sortable tables">
        <thead>
            <tr>
                <th>Inventarnummer/Servicenummer</th>
                <th>Typ</th>
                <th>Modell</th>
                <th>Spezifikation</th>
                <th>Zuweisung</th>
                <th>Herausgeber</th>
                <th>Ausgabe</th>
                <th>OU</th>
                <th>Bestell-Nr.</th>
            </tr>
        </thead>
        <tbody>
        {% for item in lagerliste %}
            <tr class="custom_row">
                <td>{{ item.inventarnummer }}</td>
                <td>{{ item.typ }}</td>
                <td>{{ item.modell }}</td>
                <td>{{ item.spezifikation }}</td>
                <td>{{ item.zuweisung }}</td>
                <td>{{ item.herausgeber }}</td>
                <td>{{ item.ausgabe|date:"d. E Y - H:i" }}</td>
                <td>{{ item.klinik }}</td>
                <td>{{ item.bestell_nr_field }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}