{% extends "webapplication/layout.html" %}

{% block body %}
    <h1 class="header" style="text-align: center;">Lagerliste zur Bestellung {{ bestell_nr }}</h1>
    <input class="button" value="Zurück" type="button" onclick="window.location.href='{% url 'lagerliste' %}'"></input>
    <input class="button" value="Lagerlisten Eintrag erstellen" type="button" onclick="window.location.href='{% url 'create_lager' %}'"></input>
    <input class="button" value="Aus Lagerliste austragen" type="button" onclick="window.location.href='{% url 'handout_lager' %}'"></input>
    <table style="width: 100%;">
        <tr>
            <th>
                <input type="checkbox">
            </th>
            <th>Inventarnummer</th>
            <th>Typ</th>
            <th>Modell</th>
            <th>Spezifikation</th>
            <th>Bestell_Nr.</th>
        </tr>
        {% for item in detail_lagerliste %}
            {% if item.ausgegeben == '0' %}
                <tr class="custom_row">
                    <td class="action-checkbox">
                        <input type="checkbox" name="_selected_action" value="{{ item.inventarnummer }}">
                    </td>
                    <td>{{ item.inventarnummer }}</td>
                    <td>{{ item.typ }}</td>
                    <td>{{ item.modell }}</td>
                    <td>{{ item.spezifikation }}</td>
                    <td>{{ item.bestell_nr_field }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}