{% extends "webapplication/layout.html" %}
{% block body %}
    <h1 class="header" style="text-align: center;">Ausgetragene Einträge zur Bestellung {{ bestellung }}</h1>
    <input class="button" value="Zurück" type="button" onclick="window.location.href='{% url 'profile' user.id %}'"></input>
    <input class="searchbar" type="text" id="searchbar" onkeyup="myFunction()" placeholder="Suchen...">
    <table id="myTable" class="sortable" style="width: 99.5%;">
        <thead>
            <tr>
                <th>Inventarnummer/Servicenummer</th>
                <th>Typ</th>
                <th>Modell</th>
                <th>Spezifikation</th>
                <th>Herausgeber</th>
                <th>Ausgabe</th>
                <th>OU</th>
                <th>Bestell_Nr.</th>
            </tr>
        </thead>
        <tbody>
        {% for item in lagerliste %}
            {% if user_name == item.herausgeber %}
                <tr class="custom_row">
                    <td>{{ item.inventarnummer }}</td>
                    <td>{{ item.typ }}</td>
                    <td>{{ item.modell }}</td>
                    <td>{{ item.spezifikation }}</td>
                    <td>{{ item.herausgeber }}</td>
                    <td>{{ item.ausgabe }}</td>
                    <td>{{ item.klinik }}</td>
                    <td>{{ item.bestell_nr_field }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}