{% extends "webapplication/layout.html" %}
{% block body %}
    <h1 style="text-align: center;">Ausgetragene Einträge zur Bestellung {{ bestellung }}</h1>
    <input style="text-align: left; margin: 5px; border-radius: 5px;" value="Lagerlisten Eintrag erstellen" type="button" onclick="window.location.href='{% url 'create_lager' %}'"></input>
    <input style="text-align: left; margin: 5px; border-radius: 5px;" value="Aus Lagerliste austragen" type="button" onclick="window.location.href='{% url 'handout_lager' %}'"></input>
    <table style="width: 99.5%;">
        <tr>
            <th>
                <input type="checkbox">
            </th>
            <th>Inventarnummer</th>
            <th>Typ</th>
            <th>Modell</th>
            <th>Spezifikation</th>
            <th>Herausgeber</th>
            <th>Ausgabe</th>
            <th>OU</th>
            <th>Bestell_Nr.</th>
        </tr>
        {% for item in lagerliste %}
            {% if user_name == item.herausgeber %}
                <tr>
                    <td class="action-checkbox">
                        <input type="checkbox" name="_selected_action" value="{{ item.inventarnummer }}">
                    </td>
                    <td>{{ item.inventarnummer }}</td>
                    <td>{{ item.typ }}</td>
                    <td>{{ item.modell }}</td>
                    <td>{{ item.spezifikation }}</td>
                    <td>{{ item.herausgeber }}</td>
                    <td>{{ item.ausgabe }}</td>
                    <td>{{ item.klinik }}</td>
                    <td>{{ item.bestell_nr_field }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}