{% extends "webapplication/layout.html" %}
{% load humanize %}

{% block body %}
    <h1 class="header" style="text-align: center;">Investmittelplanung der OU {{ ou }}</h1>
    <input style="margin-left: 1.5%;" class="button" value="Zurück" type="button" onclick="window.location.href='{% url 'investmittel_soll' %}'"></input>
    <input class="button" value="Investmittel planen" type="button" onclick="window.location.href='{% url 'create_investmittel_soll' ou %}'"></input>
    <input class="searchbar" type="text" id="myInput" onkeyup="myFunction()" name="input" placeholder="Suche">
    <table id="myTable" class="sortable tables">
        <thead>
            <tr style="position: sticky; top: 0; overflow: hidden;">
                {% for group in request.user.groups.all %}
                    {% if group.name == 'Admin' %}
                        <th>Bearbeitungslink</th>
                    {% endif %}
                {% endfor %}
                <th>Typ</th>
                <th>Modell</th>
                <th>Preis pro Stück</th>
                <th>Spezifikation</th>
                <th>Ersteller</th>
                <th>Menge</th>
            </tr>
        </thead>
        <tbody>
        {% for item in detail_investmittelplan_soll %}
            <tr class="custom_row">
                {% for group in request.user.groups.all %}
                    {% if group.name == 'Admin' %}
                        <td>
                            <a class="link" href="{% url 'update_detail_invest_soll' item.ou_id__ou item.id %}">
                                Bearbeiten
                            </a>
                        </td>
                    {% endif %}
                {% endfor %}
                <td>{{ item.typ }}</td>
                <td>{{ item.modell }}</td>
                <td>{{ item.preis_pro_stück|intcomma }}€</td>
                <td>{{ item.spezifikation }}</td>
                <td>{{ item.admin }}</td>
                <td>{{ item.menge }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}