{% extends "webapplication/layout.html" %}

{% block body %}
    <h1 class="header" style="text-align: center;">Lagerliste zur Bestellung {{ bestell_nr }}</h1>
    <input class="button" value="Zurück zur Lagerliste" type="button" onclick="window.location.href='{% url 'lagerliste' %}'"></input>
    <input class="button" value="Lagerlisten Eintrag erstellen" type="button" onclick="window.location.href='{% url 'create_lager' %}'"></input>
    <input class="button" value="Aus Lagerliste austragen" type="button" onclick="window.location.href='{% url 'handout_lager' %}'"></input>
    <input class="button" value="Liste Löschen" type="button" style="color: red;" onclick="window.location.href='{% url 'löschen_lager' bestell_nr %}'"></input>
    <input class="searchbar" type="text" id="myInput" onkeyup="myFunction()" placeholder="Suchen...">
    <table id="myTable" class="sortable" style="width: 99.5%;">
        <thead>
            <tr>
                <th style="width: 20%;">Inventarnummer/Servicenummer</th>
                <th>Typ</th>
                <th>Modell</th>
                <th>Spezifikation</th>
                <th>Zuweisung</th>
                <th>Bestell-Nr.</th>
            </tr>
        </thead>
        <tbody>
        {% for item in detail_lagerliste %}
            {% if item.ausgegeben == '0' %}
                <tr class="custom_row">
                    <td>{{ item.inventarnummer }}</td>
                    <td>{{ item.typ }}</td>
                    <td>{{ item.modell }}</td>
                    <td>{{ item.spezifikation }}</td>
                    <td>{{ item.zuweisung }}</td>
                    <td>{{ item.bestell_nr_field }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}