{% extends "webapplication/layout.html" %}

{% block body %}
  <h1 class="header" style="text-align: center;">Lagerliste</h1>
  <div class="create">
    <h2>Aus Lagerliste austragen</h2>
    <hr>
    <div class="ach">
      {% if unlock == 1 %}
        <div class="icon" style="color: #b1660b;"><i class="fa fa-flag" aria-hidden="true"></i></div>
      {% elif unlock == 2 %}
        <div class="icon" style="color: #dcd8d4;"><i class="fa fa-flag" aria-hidden="true"></i></div>
      {% elif unlock == 3 %}
        <div class="icon" style="color: #d5b30c;"><i class="fa fa-flag" aria-hidden="true"></i></div>
      {% endif %}
      <div class="text_wrap">
      <p class="title">Button Clicker!</p>
      <span class="detail">you clicked a button</span>
      </div>
    </div>
    <form id="form" action="{% url 'handout_lager' %}" method="POST">
      {% csrf_token %}
      <div style="display: none;" class="form-group">
        <button class="btn btn-primary" onclick="addInputField(), count_live()" type="">Weiterer Eintrag</button>
      </div>
      <div id="inputs" class="form-group">
        <fieldset id="list" class="input-field">
          <input autofocus class="form-control" type="text" name="0" required placeholder="Inventarnummer/Servicenummer"/>
        </fieldset>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" onclick="addInputField(), count_live()" type="">Weiterer Eintrag</button>
        <li style="float: right;" class="page btn" id="count"></li>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="klinik" required placeholder="OU">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="annahme" required placeholder="Admin">
      </div>
      {% if alarm %}
        <div class="alert alert-danger" role="alert">Die Investmittel der OU <b>{{ alarm }}</b> sind im Minusbereich: {{ geld }}€ momentan</div>
      {% endif %}
      {% if message %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
      {% endif %}
      {% if alert %}
        <div class="alert alert-danger" role="alert">{{ alert }}</div>
      {% endif %}
      {% if fail %}
        <div class="alert alert-danger" role="alert">Die Inventarnummern <b>{{ fail }}</b> konnten nicht ausgegeben werden. Grund: Geräte waren bereits ausgegeben.</div>
      {% endif %}
      {% if dne %}
        <div class="alert alert-danger" role="alert">Die Inventarnummern <b>{{ dne }}</b> konnten nicht ausgetragen werden. Grund: Inventarnummern nicht in der Lagerliste hinterlegt.</div>
      {% endif %}
      {% if unlock %}
        <script>
          window.onload = function() {
            achievementUnlocked("Ausgabe Stufe {{ unlock }}");
          };
        </script>
      {% endif %}
      <div style="text-align: right;">
        <input class="btn btn-primary" type="submit", value="Austragen">
        <input class="button btn zurück" value="Zurück" type="button" onclick="window.location.href='{% url 'lagerliste' %}'"></input>
      </div>
    </form>
  </div>
  <script>
    function count() {
      var inputFormDiv = document.getElementById('inputs');
      return (inputFormDiv.getElementsByTagName('input').length);
    }

    document.getElementById("count").innerHTML = count()
  </script>
{% endblock %}