{% extends "webapplication/layout.html" %}
{% load humanize %}

{% block body %}
    <h1 class="header" style="text-align: center;">Investmittelplan vergangener Jahre</h1>
    <input class="searchbar" type="text" id="myInput" onkeyup="myFunction()" placeholder="Suche">
    <input class="button btn zurück" style="float: left; margin-left: 1.5%;" value="Zurück" type="button" onclick="window.location.href='{% url 'investmittel' %}'"></input>
    <input class="btn btn-primary" style="float: left; margin-left: 0.5%; margin-top: 0.28%;" type="button" value="aktuellen Investmittelplan speichern" onclick="window.location.href='{% url 'save_invest' %}'"">
    <select style="width: 7%; float: right; margin-top: 0.14cm; margin-right: 7px;" class="form-control" name="Jahr" id="jahrSelect">
        <option value="{{ jahr_aktuell }}">Jahr {{ jahr_aktuell }}</option>
        {% for item in jahr %}
            <option value="{{ item.jahr }}">Jahr {{ item.jahr }}</option>
        {% endfor %}
    </select>
    <table id="myTable" class="sortable tables">
        <thead>
            <tr>
                <th>Klinik/OU</th>
                <th>Investmittel Jahresanfang</th>
                <th>Investmittel übrig</th>
                <th>Jahr</th>
            </tr>
        </thead>
        <tbody>
            {% for item in investmittelplan_alt %}
                <tr class="custom_row" data-jahr="{{ item.jahr }}">
                    <td>{{ item.klinik_ou }}</td>
                    <td>{{ item.investmittel_jahresanfang_in_euro|intcomma }}€</td>
                    <td>{{ item.investmittel_übrig_in_euro|intcomma }}€</td>
                    <td>{{ item.jahr }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        window.onload = function() {
            var select = document.getElementById('jahrSelect');
            // Function to handle the change event of the select element
            select.onchange = function() {
                var selectedJahr = this.value; // Get the selected year

                // Get all rows of the table
                var rows = document.getElementById("myTable").querySelectorAll('tbody tr');
                
                // Loop through each row
                rows.forEach(function(row) {
                    var jahrColumn = row.getAttribute("data-jahr"); // Get the year from the data attribute
                    
                    // Check if the row's year matches the selected year
                    if (jahrColumn === selectedJahr || selectedJahr === "") {
                        row.style.display = ""; // Show the row
                    } else {
                        row.style.display = "none"; // Hide the row
                    }
                });
            };

            // Trigger the onchange event on page load to filter based on the default selected year
            select.onchange();
        };
    </script>
{% endblock %}