{% extends "webapplication/layout.html" %}
{% load humanize %}

{% block body %}
    <h1 class="header" style="text-align: center;">Investmittelplan 2025</h1>
    <table style="width: 15%; margin-left: auto; margin-right: auto;">
        <thead>
            <tr>
                <th style="text-align: center; font-size: 120%;">Summe aller geplanten Investmittel</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align: center; font-size: 150%;">{{ alle|intcomma }}€</td>
            </tr>
        </tbody>
    </table>
    <input class="button" style="float: left; margin-left: 1.5%;" value="Investmittelplanung" type="button" onclick="window.location.href='{% url 'investmittelplanung' %}'"></input>
    <form action="{% url 'investmittel_soll' %}" method="post">
        {% csrf_token %}
        <input class="searchbar" type="text" id="myInput" onkeyup="myFunction()" name="input" placeholder="Suche">
        <input class="btn btn-primary" style="float: right; margin-right: 10px; margin-top: 6.5px;" type="submit" value="Export Datei erstellen">
        {% if confirm %}
            {% for file in files %}
                {% if file.titel == "investmittelplan_planung" %}
                    <input class="btn btn-primary" style="float: right; margin-right: 10px; margin-top: 6.5px;" type="button" value="Export Datei Download" onclick="window.location.href='{% url 'download' file.id %}'">
                {% endif %}
            {% endfor %}
        {% endif %}
    </form>
    <table id="myTable" class="sortable tables">
        <thead>
            <tr>
                <th>OU</th>
                <th>Bereich</th>
                <th>Team</th>
                <th>Investmittel Gesamt</th>
            </tr>
        </thead>
        <tbody>
        {% for item in investmittelplan_soll %}
            <tr class="custom_row">
                <td>
                    <a class="link" href="{% url 'detail_investmittel_soll' item.ou %}">
                        {{ item.ou }}
                    </a>
                </td>
                <td>{{ item.bereich }}</td>
                <td>{{ item.team }}</td>
                <td>{{ item.investmittel_gesamt|intcomma }}€</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}