{% extends "webapplication/layout.html" %}

{% block body %}
    <h1 class="header" style="text-align: center;">Investmittelplan</h1>
    <input class="searchbar" type="text" id="myInput" placeholder="Suchen...">
    <table id="myTable" class="sortable" style="width: 99.5%;">
        <thead>
            <tr>
                <th>Klinik/OU</th>
                <th>Investmittel Jahresanfang</th>
                <th>Investmittel übrig</th>
            </tr>
        </thead>
        <tbody>
        {% for item in lagerliste %}
            <tr class="custom_row">
                <td>{{ item.klinik_ou }}</td>
                <td>{{ item.investmittel_jahresanfang_in_euro }}</td>
                <td>{{ item.investmittel_übrig_in_euro }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}