{% extends "webapplication/layout.html" %}

{% block body %}
    <h1 class="header" style="text-align: center;">Lagerliste ohne Invest</h1>
    <input class="searchbar" type="text" id="myInput" onkeyup="myFunction()" placeholder="Suchen...">
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <table id="myTable" class="sortable tables">
        <thead>
            <tr style="position: sticky; top: 0; overflow: hidden;">
                <th>Bestell-Nr.</th>
                <th>Modell</th>
                <th>Typ</th>
                <th>Spezifikation</th>
                <th>Zuweisung</th>
                <th>Menge</th>
            </tr>
        </thead>
        <tbody>
        {% for item in lagerliste %}
            {% if item.ausgegeben != 1 %}
                <tr class="custom_row">
                    <td>
                        <a class="link" href="{% url 'handout_lager_ohne' item.bestell_nr_field %}">
                            {{ item.bestell_nr_field }}
                        </a>
                    </td>
                    <td>{{ item.modell }}</td>
                    <td>{{ item.typ }}</td>
                    <td>{{ item.spezifikation }}</td>
                    <td>{{ item.zuweisung }}</td>
                    <td>{{ item.Menge }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}