{% extends "webapplication/layout.html" %}

{% block body %}
    <h1 class="header" style="text-align: center;">Lagerliste</h1>
    <input class="button" value="Lagerlisten Eintrag erstellen" type="button" onclick="window.location.href='{% url 'create_lager' %}'"></input>
    <input class="button" value="Aus Lagerliste austragen" type="button" onclick="window.location.href='{% url 'handout_lager' %}'"></input>
    <input class="searchbar" type="text" id="myInput" onkeyup="myFunction()" placeholder="Suchen...">
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <table id="myTable" class="sortable" style="width: 99.5%;">
        <thead>
            <tr>
                <th>Bestell_Nr.</th>
                <th>Typ</th>
                <th>Modell</th>
                <th>Spezifikation</th>
                <th>Menge</th>
            </tr>
        </thead>
        <tbody>
        {% for item in lagerliste %}
            {% if item.ausgegeben != 1 %}
                <tr class="custom_row">
                    <td>
                        <a class="link" href="{% url 'detail_lager' item.bestell_nr_field %}">        
                            {{ item.bestell_nr_field }}
                        </a>
                    </td>
                    <td>{{ item.typ }}</td>
                    <td>{{ item.modell }}</td>
                    <td>{{ item.spezifikation }}</td>
                    <td>{{ item.Menge }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}