{% extends "webapplication/layout.html" %}

{% block body %}
    <h1 style="text-align: center;">Lagerliste</h1>
    <input style="text-align: left; margin: 5px; border-radius: 5px;" value="Lagerlisten Eintrag erstellen" type="button" onclick="window.location.href='{% url 'create_lager' %}'"></input>
    <input style="text-align: left; margin: 5px; border-radius: 5px;" value="Aus Lagerliste austragen" type="button" onclick="window.location.href='{% url 'handout_lager' %}'"></input>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <table style="width: 99.5%;">
        <tr>
            <th>
                <input name="super_checkbox" type="checkbox">
            </th>
            <th>Bestell_Nr.</th>
            <th>Typ</th>
            <th>Modell</th>
            <th>Spezifikation</th>
            <th>Menge</th>
        </tr>
        {% for item in lagerliste %}
            {% if item.ausgegeben != 1 %}
                <tr>
                    <td class="action-checkbox">
                        <input type="checkbox" name="_selected_action" value="{{ item.bestell_nr_field }}">
                    </td>
                    <td>
                        <a class="link" href="{% url 'detail_lager' item.bestell_nr_field %}">        
                            {{ item.bestell_nr_field }}
                        </a>
                    </td>
                    <td>{{ item.typ }}</td>
                    <td>{{ item.modell }}</td>
                    <td>{{ item.spezifikation }}</td>
                    <td>{{ item.Menge }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}