{% extends "webapplication/layout.html" %}

{% block body %}

    <h2 class="header">Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form style="padding-bottom: 10px;" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input style="margin-left: 7px;" class="btn btn-primary" type="submit" value="Login">
    </form>

    <text style="margin-left: 7px;">Don't have an account?</text><a style="color: #104abc;" href="{% url 'register' %}"> Register here.</a>

{% endblock %}