{% extends "webapplication/layout.html" %}
{% block body %}
    <h1 class="header" style="text-align: center;">Profil Verlauf</h1>
    <input class="button" value="Lagerliste ohne Invest" type="button" onclick="window.location.href='{% url 'profile_lager_ohne' user_id %}'"></input>
    <div>
        <h2 style="float: left;">Erstellte Bestellungen</h2>
        <input style="float: left; margin-left: 27%;" class="searchbar" type="text" id="myInput" onkeyup="myFunction()" placeholder="Suchen...">
        <input style="float: left; margin-left: 1.25%;" class="searchbar" type="text" id="myInput2" onkeyup="myFunction2()" placeholder="Suchen...">
        <input style="float: left;" class="button" value="Heute" type="button" id="today" onclick="today2()">
        <input style="float: left;" class="button" value="Alle" type="button" id="today" onclick="undo()">
        <select style="width: 6%; float: left; margin-top: 0.14cm; margin-left: 7px;" class="form-control" name="herausgeber" id="usernameSelect">
            <option value="{{ username }}">{{ username }}</option>
            {% for item in users %}
                <option value="{{ item.username }}">{{ item.username }}</option>
            {% endfor %}
        </select>
        <h2 style="float: right; padding-right: 7px;">Aus Lagerliste ausgetragen</h2>
    </div>
    <div>
        <table id="myTable" class="sortable" style="width: 49%; float: left;">
            <thead>
                <tr>
                    <th>SAP Bestell-Nr.</th>
                    <th>Modell</th>
                    <th>Typ</th>
                    <th>Spezifikation</th>
                    <th>Zuweisung</th>
                    <th>Ersteller</th>
                    <th>Menge</th>
                    <th>Anzahl Geliefert</th>
                </tr>
            </thead>
            <tbody>
            {% for item in bestell_liste %}
                {% if user_name == item.ersteller %}
                    <tr class="custom_row">
                        <td>{{ item.sap_bestell_nr_field }}</td>
                        <td>{{ item.modell }}</td>
                        <td>{{ item.typ }}</td>
                        <td>{{ item.spezifikation }}</td>
                        <td>{{ item.zuweisung }}</td>
                        <td>{{ item.ersteller }}</td>
                        <td>{{ item.menge }}</td>
                        <td>{{ item.geliefert_anzahl }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <table id="myTable2" class="sortable" style="width: 49%; float: right; margin-right: 7px;">
            <thead>
                <tr>
                    <th>Bestell-Nr.</th>
                    <th>Typ</th>
                    <th>Modell</th>
                    <th>Spezifikation</th>
                    <th>Zuweisung</th>
                    <th>Herausgeber</th>
                    <th>Ausgabe</th>
                    <th>Menge</th>
                </tr>
            </thead>
            <tbody>
            {% for item in lagerliste %}
                <tr class="custom_row">
                    <td>
                        <a class="link" href="{% url 'detail_lager_profile' user_id item.bestell_nr_field %}">
                            {{ item.bestell_nr_field }}
                        </a>
                    </td>
                    <td>{{ item.typ }}</td>
                    <td>{{ item.modell }}</td>
                    <td>{{ item.spezifikation }}</td>
                    <td>{{ item.zuweisung }}</td>
                    <td>{{ item.herausgeber }}</td>
                    <td>{{ item.ausgabe }}</td>
                    <td>{{ item.Menge }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}