{% extends "webapplication/layout.html" %}
{% block body %}
    <h1 class="header" style="text-align: center;">Profil Verlauf</h1>
    <input class="button" value="Artikel ohne Bestellnummer" type="button" onclick="window.location.href='{% url 'temp_profile' user.id %}'"></input>
    <div>
        <h2 style="float: left;">Erstellte Bestellungen</h2>
        <h2 style="text-align: right; padding-right: 7px;">Aus Lagerliste ausgetragen</h2>
    </div>
    <div>
        <table class="sortable" style="width: 49%; float: left;">
            <tr>
                <th>SAP_Bestell_Nr.</th>
                <th>Modell</th>
                <th>Typ</th>
                <th>Spezifikation</th>
                <th>Inventarnummer: Von-Bis</th>
                <th>Ersteller</th>
                <th>Menge</th>
                <th>Anzahl Geliefert</th>
            </tr>
            {% for item in bestell_liste %}
                {% if user_name == item.ersteller %}
                    <tr class="custom_row">
                        <td>{{ item.sap_bestell_nr_field }}</td>
                        <td>{{ item.modell }}</td>
                        <td>{{ item.typ }}</td>
                        <td>{{ item.spezifikation }}</td>
                        <td>{{ item.inventarnummern_von_bis }}</td>
                        <td>{{ item.ersteller }}</td>
                        <td>{{ item.menge }}</td>
                        <td>{{ item.geliefert_anzahl }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    <div>
        <table class="sortable" style="width: 49%; float: right; margin-right: 7px;">
            <tr>
                <th>Bestell_Nr.</th>
                <th>Typ</th>
                <th>Modell</th>
                <th>Spezifikation</th>
                <th>Herausgeber</th>
                <th>Ausgabe</th>
                <th>Menge</th>
            </tr>
            {% for item in lagerliste %}
                {% if username == item.herausgeber %}
                    <tr class="custom_row">
                        <td>
                            <a class="link" href="{% url 'detail_lager_profile' user.id item.bestell_nr_field %}">
                                {{ item.bestell_nr_field }}
                            </a>
                        </td>
                        <td>{{ item.typ }}</td>
                        <td>{{ item.modell }}</td>
                        <td>{{ item.spezifikation }}</td>
                        <td>{{ item.herausgeber }}</td>
                        <td>{{ item.ausgabe }}</td>
                        <td>{{ item.Menge }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
{% endblock %}