{% extends "webapplication/layout.html" %}
{% block body %}
    <h1 class="header" style="text-align: center;">Profil Verlauf</h1>
    <input style="margin-left: 1.2%;" class="button" value="Lagerliste ohne Invest" type="button" onclick="window.location.href='{% url 'profile_lager_ohne' user_id %}'"></input>
    <div>
        <h2 style="float: left; margin-left: 1%;">Erstellte Bestellungen</h2>
        <input style="float: left; margin-left: 26%;" class="searchbar1" type="text" id="myInput" onkeyup="myFunction()" placeholder="Suchen...">
        <input style="float: left; margin-left: 1.25%;" class="searchbar1" type="text" id="myInput2" onkeyup="myFunction2()" placeholder="Suchen...">
        <input style="float: left;" class="button" value="Heute" type="button" id="today" onclick="today2()">
        <input style="float: left;" class="button" value="Alle" type="button" id="today" onclick="undo()">
        <select style="width: 7%; float: left; margin-top: 0.14cm; margin-left: 7px;" class="form-control" name="herausgeber" id="usernameSelect">
            <option value="{{ username }}">{{ username }}</option>
            {% for item in users %}
                <option value="{{ item.username }}">{{ item.username }}</option>
            {% endfor %}
        </select>
        <h2 style="float: right; padding-right: 7px; margin-right: 1%;">Aus Lagerliste ausgetragen</h2>
    </div>
    <div>
        <table id="myTable" class="sortable" style="width: 48%; float: left; margin-left: 1.2%;">
            <thead>
                <tr>
                    <th>SAP Bestell-Nr.</th>
                    <th>Modell</th>
                    <th>Typ</th>
                    <th>Spezifikation</th>
                    <th>Zuweisung</th>
                    <th>Ersteller</th>
                    <th>Menge</th>
                    <th>Anzahl Geliefert</th>
                </tr>
            </thead>
            <tbody>
            {% for item in bestell_liste %}
                {% if user_name == item.ersteller %}
                    <tr class="custom_row">
                        <td>{{ item.sap_bestell_nr_field }}</td>
                        <td>{{ item.modell }}</td>
                        <td>{{ item.typ }}</td>
                        <td>{{ item.spezifikation }}</td>
                        <td>{{ item.zuweisung }}</td>
                        <td>{{ item.ersteller }}</td>
                        <td>{{ item.menge }}</td>
                        <td>{{ item.geliefert_anzahl }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <table id="myTable2" class="sortable" style="width: 48%; float: right; margin-right: 1.2%;">
            <thead>
                <tr>
                    <th>Bestell-Nr.</th>
                    <th>Typ</th>
                    <th>Modell</th>
                    <th>Spezifikation</th>
                    <th>Zuweisung</th>
                    <th>Herausgeber</th>
                    <th>Ausgabe</th>
                    <th>Menge</th>
                </tr>
            </thead>
            <tbody>
            {% for item in lagerliste %}
                <tr class="custom_row">
                    <td>
                        <a class="link" href="{% url 'detail_lager_profile' user_id item.bestell_nr_field %}">
                            {{ item.bestell_nr_field }}
                        </a>
                    </td>
                    <td>{{ item.typ }}</td>
                    <td>{{ item.modell }}</td>
                    <td>{{ item.spezifikation }}</td>
                    <td>{{ item.zuweisung }}</td>
                    <td>{{ item.herausgeber }}</td>
                    <td>{{ item.ausgabe|date:"d. E Y - H:i" }}</td>
                    <td>{{ item.Menge }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        window.onload = function() {
            var select = document.getElementById('usernameSelect');
            // Function to handle the change event of the select element
            select.onchange = function() {
                var selectedUsername = this.value; // Get the selected username
                    
                // Get all rows of the table
                var rows = document.getElementById("myTable2").querySelectorAll('table tr');
                
                // Loop through each row
                rows.forEach(function(row, index) {
                    if (index !== 0) { // Skip header row
                        // Get the value of the username column in the current row
                        var usernameColumn = row.cells[5].textContent.trim(); // Assuming the username column is the second column (index 1)
                            
                        // Check if the username matches the selected username
                        if (usernameColumn === selectedUsername) {
                            row.classList.remove("hidden"); // Show the row
                        } else {
                            row.classList.add("hidden"); // Hide the row
                        }
                    }
                });
            };
            select.onchange();
        };

        function today2() {
            // Get the current date
            var currentDate = new Date();
            var currentYear = currentDate.getFullYear();
            var currentMonth = currentDate.getMonth();
            var currentDay = currentDate.getDate();
            
            // Get all rows of the table
            var rows = document.getElementById("myTable2").querySelectorAll('table tr');
            
            // Loop through each row
            rows.forEach(function(row, index) {
                if (index !== 0) { // Skip header row
                    // Get the value of the "ausgabe" column in the current row
                    var ausgabeColumn = row.cells[6].textContent.trim(); // Assuming the "ausgabe" column is the eigth column (index 1)
                        
                    // Parse the date string in the "ausgabe" column
                    var dateParts = ausgabeColumn.split(' ');
                    var day = parseInt(dateParts[0]);
                    var month = germanMonthToNumber(dateParts[1]);
                    var year = parseInt(dateParts[2]);
                    
                    // Check if the parsed date matches the current date
                    if (day === currentDay && month === currentMonth && year === currentYear) {
                        row.style.display = ''; // Show the row
                    } else {
                        row.style.display = 'none'; // Hide the row
                    }
                }
            });
        };

        /**
         * Filters table rows based on user input.
         * This function is typically triggered by an input event.
         */
        function myFunction2() {
            // Get the input element and its value
            var input, filter;
            input = document.getElementById("myInput2");
            filter = input.value.toUpperCase();

            // Get the table and its rows
            var table, tr, td, cell;
            table = document.getElementById("myTable2");
            tr = table.getElementsByTagName("tr");

            // Loop through each row of the table
            for (var i = 1; i < tr.length; i++) { // Start from 1 to skip header row
                // Hide the row initially
                tr[i].style.display = "none";

                // Get the cells of the current row
                td = tr[i].getElementsByTagName("td");

                // Loop through each cell of the row
                for (var j = 0; j < td.length; j++) {
                    // Get the current cell
                    cell = tr[i].getElementsByTagName("td")[j];

                    // Check if the cell exists
                    if (cell) {
                        // Check if the cell's content matches the filter
                        if (cell.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            // Display the row if the filter matches
                            tr[i].style.display = "";
                            // Break the inner loop since the row should be displayed
                            break;
                        }
                    }
                }
            }
        }
    </script>
{% endblock %}