{% extends "webapplication/layout.html" %}

{% block body %}

    <h2 class="header" >Register</h2>

    <form style="padding-bottom: 10px;" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input style="margin-left: 7px;" class="btn btn-primary" type="submit" value="Register">
    </form>

    {% if message %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endif %}
    {% if confirm %}
        <div class="alert alert-warning" role="alert">Ihr Nutzer wurde erfolgreich angelegt. Damit Sie diesen auch nutzen können, wenden Sie sich bitte per Mail oder Webex bei "Robert Eckermann" oder "Tim Voigt".</div>
    {% endif %}

    <text style="margin-left: 7px;">Bereits Registriert?</text><a style="color: #104abc;" href="{% url 'login' %}"> Hier Einloggen.</a>

{% endblock %}