{% extends 'webapplication/layout.html' %}

{% block body %}
    <h1 class="header" style="text-align: center;">Lagerliste</h1>
    <div class="create">
        <h2>Rückgabe eintragen</h2>
        <form id="form" action="{% url 'rückgabe' %}" method="POST">
            {% csrf_token %}
            <div style="display: none;" class="form-group">
                <button class="btn btn-primary" onclick="addInputField()" type="">Weiterer Eintrag</button>
            </div>
            <div id="inputs" class="form-group">
                <fieldset id="list" class="input-field">
                    <input autofocus class="form-control" type="text" name="0" required placeholder="Inventarnummer/Servicenummer"/>
                </fieldset>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" onclick="addInputField()" type="">Weiterer Eintrag</button>
            </div>
            {% if message %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endif %}
            {% if alert %}
                <div class="alert alert-danger" role="alert">{{ alert }}</div>
            {% endif %}
            {% if fail %}
                <div class="alert alert-danger" role="alert">Die Inventarnummern <b>{{ fail }}</b> konnten nicht zurückgegeben werden. Grund: Geräte waren nicht ausgegeben.</div>
            {% endif %}
            {% if dne %}
                <div class="alert alert-danger" role="alert">Die Inventarnummern <b>{{ dne }}</b> konnten nicht ausgetragen werden. Grund: Inventarnummern nicht in der Lagerliste hinterlegt.</div>
            {% endif %}
            <div style="text-align: right;">
                <input class="btn btn-primary" type="submit", value="Rückgabe">
                <input class="button btn zurück" value="Zurück" type="button" onclick="window.location.href='{% url 'lagerliste' %}'"></input>
            </div>
        </form>
    </div>
{% endblock %}