{% extends 'webapplication/layout.html' %}

{% block body %}
    <h1 class="header" style="text-align: center;">Lagerliste</h1>
    <input class="button" value="Zurück" type="button" onclick="window.location.href='{% url 'lagerliste' %}'"></input>

    <h2>Rückgabe eintragen</h2>
    <form id="form" action="{% url 'rückgabe' %}" method="POST">
        {% csrf_token %}
        <div style="display: none;" class="form-group">
            <button class="btn btn-primary" onclick="addInputField()" type="">Weiterer Eintrag</button>
        </div>
        <div id="inputs" class="form-group">
            <fieldset id="list" class="input-field">
                <input autofocus class="form-control" type="text" name="0" required placeholder="Inventarnummer/Servicenummer"/>
            </fieldset>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" onclick="addInputField()" type="">Weiterer Eintrag</button>
        </div>
        <input style="margin-left: 7px;" class="btn btn-primary" type="submit", value="Rückgabe">
    </form>
    {% if message %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endif %}
    {% if alert %}
        <div class="alert alert-danger" role="alert">{{ alert }}</div>
    {% endif %}
{% endblock %}