{% extends 'webapplication/layout.html' %}

{% block body %}
    <div class="ach">
        {% if unlock == 1 %}
            <div class="icon" style="color: #b1660b;"><i class="fa fa-flag" aria-hidden="true"></i></div>
        {% elif unlock == 2 %}
            <div class="icon" style="color: #dcd8d4;"><i class="fa fa-flag" aria-hidden="true"></i></div>
        {% elif unlock == 3 %}
            <div class="icon" style="color: #d5b30c;"><i class="fa fa-flag" aria-hidden="true"><r></r></i></div>
        {% endif %}
        <div class="text_wrap">
        <p class="title">Button Clicker!</p>
        <span class="detail">you clicked a button</span>
        </div>
    </div>
    <!--#d5b30c #b1660b #dcd8d4-->
    <button onclick='achievementUnlocked("Bearbeite deine erste Bestellung");'>Get achievement!</button>
    <script>
        function achievementUnlocked(text){
            var hasClass = $('.ach').hasClass('achieved');
            if (hasClass) return;
            $('.title').html("Achievement unlocked!");
            $('.detail').html(text);
            $('.ach').addClass("achieved");
            setTimeout(function(){
                $('.ach').removeClass("achieved");
            },5000)
        }
        if (plants.grown >= 500){
            achievementUnlocked("You have done something!");
        }
    </script>
{% endblock %}