{% extends "webapplication/layout.html" %}

{% block body %}
    <h1 class="header" style="text-align: center;">Bestellung {{ bestell_nr }}</h1>
    <input class="button" value="Zurück" type="button" onclick="window.location.href='{% url 'bestell_liste' %}'"></input>
    <input class="button" value="Bestellung Löschen" type="button" style="color: red;" onclick="window.location.href='{% url 'löschen_bestell' bestell_nr %}'"></input>

    <h2>BestellListen Eintrag Aktualisieren</h2>

    {% for item in bestell_liste %}
        <form action="{% url 'update_bestell' bestell_nr %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" type="text" name="sap_bestell_nr_field" placeholder="SAP Bestell-Nr: {{ item.sap_bestell_nr_field }}">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="modell" placeholder="Modell: {{ item.modell }}">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="typ" placeholder="Typ: {{ item.typ }}">
            </div>
            <div class="form-group">
                <input class="form-control" type="number" name="menge" placeholder="Menge: {{ item.menge }}">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="preis_pro_stück" placeholder="Preis pro Stück: {{ item.preis_pro_stück }}">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="spezifikation" placeholder="Spezifikation: {{ item.spezifikation }}">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="zuweisung" placeholder="Zuweisung: {{ item.zuweisung }}">
            </div>
            {% if item.investmittel == 'Nein' %}
                <div class="form-group">
                    <input class="form-control" type="text" name="geliefert_anzahl" placeholder="Anzahl Geliefert: {{ item.geliefert_anzahl }}">
                </div>
            {% else %}
                <div style="display: none;" class="form-group">
                    <input class="form-control" type="text" name="geliefert_anzahl" placeholder="Anzahl Geliefert: {{ item.geliefert_anzahl }}">
                </div>
            {% endif %}
            <input style="margin-left: 7px;" class="btn btn-primary" type="submit" value="Aktualisieren">
            {% if message %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endif %}
            {% if alert %}
                <div class="alert alert-danger" role="alert">{{ alert }}</div>
            {% endif %}
        </form>
    {% endfor %}
{% endblock %}