{% extends "webapplication/layout.html" %}

{% block body %}
    <h1 class="header" style="text-align: center;">Standardartikel</h1>
    <div class="create">
        <h2>Standardartikel anpassen</h2>
        <hr>

        {% for item in lager_standard %}
            <form action="{% url 'update_lager_standard' id %}" method="post" onsubmit="return validateForm()">
                {% csrf_token %}
                <div class="form-group" style="display: flex; gap: 15px; align-items: center; margin-top: 10px;">
                    <text style="display: block; width: 150px;">Menge ausgeben:</text>
                    <input class="form-control" style="flex: 1;" type="text" name="remove_menge" id="remove_menge" placeholder="vorhandene Menge: {{ item.menge }}">
                    <span style="color: red;" id="remove_mengeError" class="error"></span>
                </div>
                <div class="form-group" style="display: flex; gap: 15px; align-items: center; margin-top: 10px;">
                    <text style="display: block; width: 150px;">Menge hinzufügen:</text>
                    <input class="form-control" style="flex: 1;" type="text" name="add_menge" id="add_menge">
                </div>
                <div class="form-group" style="display: flex; gap: 15px; align-items: center; margin-top: 10px;">
                    <text style="display: block; width: 150px;">Kommentar:</text>
                    <input class="form-control" style="flex: 1;" type="text" name="kommentar" id="kommentar" placeholder="{{ item.kommentar }}">
                </div>
                {% if message %}
                    <div class="alert alert-success" role="alert">{{ message }}</div>
                {% endif %}
                {% if alert %}
                    <div class="alert alert-danger" role="alert">{{ alert }}</div>
                {% endif %}
                <div style="text-align: right;">
                    <input class="button löschen" value="Löschen" type="button" style="color: red; float: left;" onclick="window.location.href='{% url 'löschen_lager_standard' id %}'"></input>
                    <input class="button btn zurück" value="Zurück" type="button" onclick="window.location.href='{% url 'lager_standard' %}'"></input>
                    <input style="margin-left: 7px;" class="btn btn-primary" type="submit" value="Aktualisieren">
                </div>
            </form>
        {% endfor %}
    </div>
    <script>
        function validateForm() {
            var menge = document.getElementById('remove_menge').value;
            var mengeError = document.getElementById('remove_mengeError');
        
            var isValid = true;
        
            if (menge < 0) {
                mengeError.textContent = "Menge muss größer null sein";
                isValid = false;
            } else {
                mengeError.textContent = "";
            }
        
            return isValid;
        }
    </script>
{% endblock %}