{% extends "webapplication/layout.html" %}

{% block body %}
    <h1 class="header" style="text-align: center;">Bestellung {{ bestell_nr }}</h1>
    <input class="button" value="Zurück" type="button" onclick="window.location.href='{% url 'bestell_liste' %}'"></input>
    <input class="button" value="Bestellung Löschen" type="button" style="color: red;" onclick="window.location.href='{% url 'löschen_bestell' bestell_nr %}'"></input>

    <h2>BestellListen Eintrag Aktualisieren</h2>

    {% for item in bestell_liste %}
    <form action="{% url 'update_bestell' bestell_nr %}" method="post" onsubmit="return validateForm()">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" name="sap_bestell_nr_field" id="sap_bestell_nr_field" placeholder="SAP Bestell-Nr: {{ item.sap_bestell_nr_field }}">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="modell" id="modell" placeholder="Modell: {{ item.modell }}">
            <span style="color: red;" id="modellError" class="error"></span>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="typ" id="typ" placeholder="Typ: {{ item.typ }}">
            <span style="color: red;" id="typError" class="error"></span>
        </div>
        <div class="form-group">
            <input class="form-control" type="number" name="menge" id="menge" placeholder="Menge: {{ item.menge }}">
            <span style="color: red;" id="mengeError" class="error"></span>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="preis_pro_stück" placeholder="Preis pro Stück: {{ item.preis_pro_stück }}">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="spezifikation" id="spezifikation" placeholder="Spezifikation: {{ item.spezifikation }}">
            <span style="color: red;" id="spezifikationError" class="error"></span>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="zuweisung" placeholder="Zuweisung: {{ item.zuweisung }}">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="link" placeholder="Hier Link einfügen">
        </div>
        {% if item.investmittel == 'Nein' %}
            <div class="form-group">
                <input class="form-control" type="text" name="geliefert_anzahl" placeholder="Anzahl Geliefert: {{ item.geliefert_anzahl }}">
            </div>
        {% else %}
            <div style="display: none;" class="form-group">
                <input class="form-control" type="text" name="geliefert_anzahl" placeholder="Anzahl Geliefert: {{ item.geliefert_anzahl }}">
            </div>
        {% endif %}
        <input style="margin-left: 7px;" class="btn btn-primary" type="submit" value="Aktualisieren">
        {% if message %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endif %}
        {% if alert %}
            <div class="alert alert-danger" role="alert">{{ alert }}</div>
        {% endif %}
    </form>
    
    <script>
    function validateForm() {
        var modell = document.getElementById('modell').value;
        var typ = document.getElementById('typ').value;
        var menge = document.getElementById('menge').value;
        var spezifikation = document.getElementById('spezifikation').value;
    
        var modellError = document.getElementById('modellError');
        var typError = document.getElementById('typError');
        var mengeError = document.getElementById('mengeError');
        var spezifikationError = document.getElementById('spezifikationError');
    
        var isValid = true;
    
        if (modell.length > 50) {
            modellError.textContent = "Modell darf nicht länger als 50 Zeichen sein";
            isValid = false;
        } else {
            modellError.textContent = "";
        }
        
        if (typ.length > 50) {
            typError.textContent = "Typ darf nicht länger als 50 Zeichen sein";
            isValid = false;
        } else {
            typError.textContent = "";
        }
        
        if (menge > 255) {
            mengeError.textContent = "Menge darf nicht größer als 255 sein";
            isValid = false;
        } else {
            mengeError.textContent = "";
        }
    
        if (spezifikation.length > 255) {
            spezifikationError.textContent = "Spezifikation darf nicht länger als 255 Zeichen sein";
            isValid = false;
        } else {
            spezifikationError.textContent = "";
        }
    
        return isValid;
    }
    </script>
    {% endfor %}
{% endblock %}